<!DOCTYPE html>

<html>

    <link href="~/Content/Style.css" rel="stylesheet" />

<div id="page">
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>

        <div id="header">
            <h1> Tran, Joseph Homework 7</h1>
        </div>

        <hr />

    </head>
    <body>
        
            @RenderBody()
       
    </body>

<footer>
    <div id="footer">
        <ul>
            <li>Joseph Tran&#169;</li>
            <li><i><a href=http://www.Email.com>Email:Lbc201989@yahoo.com</a></i></li>
            <li><i>Phone:(562)284-7648</i></li>
        </ul>
    </div>
</footer>

</div>

</html>
