@{
    ViewBag.Title = "Aboutme";
}


<div id="Middlebody">

    <div id="navi">
        <ul>
            <li>@Html.ActionLink("Home", "Index")</li>
            <li>@Html.ActionLink("Web Form Demo", "Webform")</li>
            <li>@Html.ActionLink("About me", "Aboutme")</li>
        </ul>
    </div>
        
<h2>About Myself</h2>

    <div id="rightbody">
    <img src="http://i.imgur.com/rpi08x8.jpg" width="200" height="300" alt="Dog and Cat" title="Dog And Cat">
    </div>

    <div id="leftbody">

    <font size=4>
        <h3>
            <ins><i><b>Education</b></i></ins>(Year, Degree and School)
        </h3>

        <p>
            <ul>
                <li> 2008, High school Diploma, David Starr Jordan High School </li>
                <li> MS, Informations System, Cal State Long Beach </li>
            </ul>
        </p>

        <h3><ins><i><b>Working experience</b></i></ins> (Title, Company and Years)</h3>

        <p>
            <ol>
                <li>Student Recuiter/ Data Entry, Rocket Learning, 6 Months</li>
                <li>Package Delivery, Cal State Long Beach, 1 Year</li>
                <li>Samsong Technicain, AlphaDTV, 1.3 Years</li>
            </ol>
        </p>

        <h3><b><ins><i>Expectation for this course</i></ins></b> (Anything you want me to cover in the class) </h3>

        <p>I would like to learn how to efficiency code java and Creat webpages. </p>
    </font>

    </div>
</div>