@model string

@{
    ViewBag.Title = "Index";
}

 
<div id="BodyBorder">

    <div id="navi">
        <ul>
            <li>@Html.ActionLink("Home", "Index")</li>
            <li>@Html.ActionLink("Web Form Demo", "Webform")</li>
            <li>@Html.ActionLink("About me", "Aboutme")</li>
            </ul>
    </div>

<h2>Wlcome to my Homepage</h2>

<h3> Please Lick a Link to visit my other pages</h3>

    </div>

